<h1>Class#index</h1>
<p>Find me in app/views/class/index.html.erb</p>
<a href = "/class/edit"><edit으로 갈겁니다.</a>
<a href = "/class/show"><show으로 갈겁니다.</a>
<img src = "/assets/098.JPG"></img>
<img src = "/assets/잭러셀테리어.jpg"></img>
<img src = "/assets/11.jpg"></img>
<%= image_tag "098.JPG", class: 'image' %>
<%= image_tag "잭러셀테리어.jpg", class: 'image' %>
<%= image_tag "11.jpg", class: 'image' %>
